{% extends 'base/base.html' %}

{% block content %}
	<div class="container">
		<form  method="post" accept-charset="utf-8">
			{% csrf_token %}

				<div class="col-md-12">
					<div class="form-group">
						<label for="first_name">Nombre</label>
						<input class="form-control" type="text" name="first_name">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="last_name">Apellidos</label>
						<input class="form-control" type="text" name="last_name">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="username">Nombre de usuario</label>
						<input class="form-control" type="text" name="username">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="email">Correo</label>
						<input class="form-control" type="text" name="email">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="password1">Contraseña</label>
						<input class="form-control" type="password" name="password1">
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label for="password2">Confirmar contraseña</label>
						<input class="form-control" type="password" name="password2">
					</div>
				</div>
				
				
			<button class="btn btn-info" type="submit">Guardar</button>
		</form>
	</div>
{% endblock %}